In [1]:
import sqlite3
import pandas as pd

In [4]:
connection = sqlite3.connect('../competitors.db')
cursor = connection.cursor()

In [5]:
cursor.execute("INSERT INTO competitors VALUES (?, ?, ?, ?, ?)", ['ric', 12, 183, 12.2, 0.8])

In [6]:
pd.read_sql_query("SELECT * FROM competitors" , connection)

  name  basckets  height  time  score
0  ric        12     183  12.2    0.8